@using Modelo;
@model Productos
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta charset="UTF-8">
<link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- Vendor CSS-->
<link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="~/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
<!-- Main CSS-->
<link href="~/css/main.css" rel="stylesheet" media="all">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<body>
    <div class="col-lg-9">
        <br /><br /><br />
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre Producto</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Image</th>
                    <th scope="col" style="display:none">Accion</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Productos i in ViewData["listarProducto"] as IList<Productos>)
                {

                <tr>
                    <th scope="row">@i.IdProducto</th>
                    <th scope="row">@i.NombreProducto</th>
                    <td>@i.Categorias.NombreCategoria</td>
                    <td>@i.Precio</td>
                    <td>@i.Stock</td>
                    <td>@i.Peso</td>
                    <td>
                        <div onclick="loadFile('@Convert.ToBase64String(i.Imagen)')" class="btn--radius btn-success center-block"><center>Ver</center></div>
                    </td>
                    <td style="display:none"><div onclick="cargarModal('@i.IdProducto')" data-toggle="modal" data-target="#exampleModal">Actualizar</div></td>
                </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-lg-3">
        <br /><br /><br /><br /><br />
        <div id="focusImagen" style="width:200px; height:200px; border-color:white; border-style:solid; border-style:solid"></div>
    </div>
    <!-- Button trigger modal -->
   

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>



</body>
<script>
    function loadFile(event) {
        if (document.getElementById("imagenInterna") != null) {
            document.getElementById("imagenInterna").remove();
        }
        var elem = document.createElement("img");
        elem.setAttribute("src", "data:image/jpeg;base64," + event);
        elem.setAttribute("height", "200");
        elem.setAttribute("width", "200");
        elem.setAttribute("id", "imagenInterna");
        document.getElementById("focusImagen").appendChild(elem);
    }
    function cargarModal(id) {
        $.ajax({
            type: "POST", url: "@Url.Action("listarId","Producto")", data: { id: id },
            success: function (d) {
                console.log(d);
            }
        });
}
    


</script>